main {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.field-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;
  perspective: 1900px;
  border-radius: 10px;
  overflow: hidden;
  background: var(--background3);

  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background2);
    font-weight: 500;
    padding: 10px;
    color: var(--text1);
  }

  .rotate {
    -webkit-transform: scale3d(1, 1, 2) rotate3d(1, 0, 0, 35deg); /* Chrome, Safari, Opera */
    transform: scale3d(1, 1, 2) rotate3d(1, 0, 0, 35deg);
    max-height: 1000px;
    max-width: 500px;
    border: 2px solid white;
  }

  & .field {
    flex: 1;
    display: grid;
    align-items: center;
    justify-items: center;
    background: var(--field1);
    padding: 8px 30px;
    background-color: #e5e5f7;
    background-image: linear-gradient(0deg, var(--field1) 50%, var(--field2) 50%);
    background-size: 60px 60px;

    & .player {
      width: 60px;
      display: flex;
      flex-direction: column;
      gap: 2px;
      justify-content: center;
      align-items: center;
      height: 100px;

      & .icon {
        position: relative;
        width: 60px;
        height: 60px;
        background: var(--background2);
        border-radius: 100%;
      }

      & .number {
        position: absolute;
        font-weight: 500;
      }

      & input {
        max-width: 120px;
        background: transparent;
        border: none;
        text-align: center;
      }
    }

    & :nth-child(1) {
      grid-area: area1;
    }
    & :nth-child(2) {
      grid-area: area2;
    }
    & :nth-child(3) {
      grid-area: area3;
    }
    & :nth-child(4) {
      grid-area: area4;
    }
    & :nth-child(5) {
      grid-area: area5;
    }
    & :nth-child(6) {
      grid-area: area6;
    }
    & :nth-child(7) {
      grid-area: area7;
    }
    & :nth-child(8) {
      grid-area: area8;
    }
    & :nth-child(9) {
      grid-area: area9;
    }
    & :nth-child(10) {
      grid-area: area10;
    }
    & :nth-child(11) {
      grid-area: area11;
    }
  }
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 100%;
  background: var(--background2);
  border-radius: 10px;
  padding: 10px;

  & form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  & .btn-download {
    background: var(--field1);
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
  }
}
