@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background1: #0f0f0f;
  --background2: #141414;
  --background3: #292929;

  --text1: #f8faff;
  --text2: #e5e1e1;

  --field1: #5dba00;
  --field2: #70e000;
  --field3: #93ff26;

  --font1: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font1);
  color: var(--text1);
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--background1);
}

button{
  border: none;
  cursor: pointer;
}

label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 500;

  & select,
  input[type="text"] {
    background: var(--background3);
    color: var(--text1);
    font-size: 1rem;
    border-radius: 10px;
    padding: 8px;
    border: none;
  }

  & input[type="checkbox"] {
    width: 20px;
  }

  & select,
  input[type="checkbox"] {
    cursor: pointer;
  }
}
